{% extends 'base.html.twig' %}

{# template/index/index.html.twig#}

{% block title %} Anovel {% endblock %}

{% block body %}

    <main class="d-flex flex-row">
        <section class="news">
            sfvutgzjqdnc
        </section>

        <main class="main">
            refcuZGEQSHBKXW
        </main>
    </main>

{% endblock %}
