<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" type="image/png" href="images/logos/Anovel" />
    <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
<body>
    <nav class="navbar sticky-top navbar-dark d-flex flex-row">
        <img src="/images/bataille/viseur.png" class="img-thumbnail menu" alt="ruidfvkj" onclick="turn()">
        <img class="img-fluid logo" alt="Responsive image" src="/images/logos/AnovelFull">
    </nav>
    {% block body %}{% endblock %}
    <footer class="footer">
        Product By Tyusworg - ALL RIGHTS RESERVED TO engrenage13 & Tyusworg
        <div class="footer_thanks">Remerciements spéciaux : engrenage13, ZarteHM</div>
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<script src="/js/script.js"></script>
</html>

